*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)), url(moestiefront.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}
.nav-logo img{
    width: 135px;
}
.nav-links{
   flex: 1;
}
.nav-links ul{
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-bar .fa{
    font-size: 30px;
}

.nav-links ul a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 4px;
    background: darkred;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.btn{
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    background: darkred;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
}
.nav-links .btn{
    float: right;
    
}




@media only screen and (max-width: 768px){
    .banner-title{
        margin: 80px 40px;        
    }
    .banner-title h1{
        font-size: 43px;
        margin-top: 225px;
    }
    .nav-bar{
        padding: 10px 30px;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
        color: whitesmoke;
        display: block;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        height: 100vh;
        width: 200px;
        background: black;
        opacity: 80%;
        top: 0;
        right: 0;
        position: absolute;
        text-align: center;
        z-index: 2;
    }
    .nav-links ul a{
        display: block;
        margin-top: 45px;
    }
    .nav-links .btn{
        float: none;
        margin-top: 25px;
    }
    .nav-bar .fa-close{
        color: whitesmoke;
        margin-top: 15px;
        float: left;
        margin-left: 15px;
    }

    
}