*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)), url(moestiecounter.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}
.nav-logo img{
    width: 135px;
}
.nav-links{
   flex: 1;
}
.nav-links ul{
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-bar .fa{
    font-size: 30px;
}

.nav-links ul a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 4px;
    background: darkred;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.btn{
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    background: darkred;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
}
.nav-links .btn{
    float: right;
    
}
.banner-title{
    margin: 80px 130px;
    color: whitesmoke;
}
.banner-title h1{
    font-size: 85px;
    margin-top: 270px;
}
.banner-title span{
    color: darkred;
    font-style: italic;    
}
.menu{
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));

}
.heading h1{
 font-size: 45px;
 color: whitesmoke;
 text-align: center;
 margin-top: 50px; 
 letter-spacing: 5px;
}
.heading h3{
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
    margin-top: 15px;
}
.identive h1{
    margin-top: 30px;
    text-align: center;
    color: darkred;
    letter-spacing: 5px;
}
#container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  #card {
    
    width: 300px;
    min-width: 300px;
    margin: 10px 30px 10px 0;
    display: flex;
    flex-direction: column;
    font-family: arial, sans-serif;
    
  }
  
  #card #card-header {
    background: darkred;
    box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.7);
    margin-bottom: 20px;
  }
  
  
  
  #card h1 {
    text-align: center;
    color: whitesmoke;
  }
  
  #card #details {
    list-style: none;
    padding: 0;
    color: whitesmoke;
  }
  
  #card #details li {
    margin-bottom: 15px;
    text-align: left;
  }
  .price{
      text-align: right;
      margin-top: -17px;
      font-weight: bold;
  }
  .descr{
      margin-top: -17px;
  }
  













@media only screen and (max-width: 768px){
    .banner-title{
        margin: 80px 40px;        
    }
    .banner-title h1{
        font-size: 43px;
        margin-top: 225px;
    }
    .nav-bar{
        padding: 10px 30px;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
        color: whitesmoke;
        display: block;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        height: 100vh;
        width: 200px;
        background: black;
        opacity: 80%;
        top: 0;
        right: 0;
        position: absolute;
        text-align: center;
        z-index: 2;
    }
    .nav-links ul a{
        display: block;
        margin-top: 45px;
    }
    .nav-links .btn{
        float: none;
        margin-top: 25px;
    }
    .nav-bar .fa-close{
        color: whitesmoke;
        margin-top: 15px;
        float: left;
        margin-left: 15px;
    }

    
}